<div *ngIf="tvshow.backdrop_path" class="main" style="margin-top: 50px; background-color: #fcfafa; width: 502px;" >
    <div class="button" (click)="onBack()">
            <i class="fas fa-angle-left" style="font-size: 20px;"></i><span style="font-size: 20px; margin-left: 5px;">Back</span>
    </div>
    <div class="card">
        <img *ngIf="trailerLink === false" [src]="'https://image.tmdb.org/t/p/w500'+tvshow.backdrop_path" 
            [width]="500" alt="{{tvshow.name}}">
        <iframe *ngIf="trailerLink" [width]="500" [height]="315" [src]="'https://www.youtube.com/embed/'+trailerLink | safe"
                frameborder="0" allowfullscreen></iframe>
        <h5 class="title">{{tvshow.name}}</h5>
        <span style="padding: 5px;"><app-star [rating]='tvshow.vote_average'></app-star></span>
        <p class="overview">{{tvshow.overview}}</p>
    </div>
</div>

<div *ngIf="!tvshow.backdrop_path" class="main" style="margin-top: 50px; background-color: #fcfafa; width: 502px;">
        <div class="button" (click)="onBack()">
                <i class="fas fa-angle-left" style="font-size: 20px;"></i><span style="font-size: 20px; margin-left: 5px;">Back</span>
        </div>
        <h4 style="margin-top: 50px;">Not enough details. Maybe check some other tv show?</h4>
</div>
   