<div class="card" [routerLink]="['/tvshows', tvshow.id]">
    <div>
        <img [src]="'https://image.tmdb.org/t/p/w185'+tvshow.poster_path" alt="tvshow.name">
    </div>
    <div style="margin-left: 10px;">
        <span style="font-weight: bold;">{{tvshow.name}}</span>
    </div>
    <div style="margin-left: 10px; margin-top: 10px;">
        <app-star *ngIf="tvshow.vote_average" [rating]='tvshow.vote_average'></app-star>
        <p *ngIf="tvshow.vote_average === 0">Not Rated</p>
    </div>
</div>