<div style="cursor: pointer; border: 1px solid black; margin-bottom: 10px;" 
    [routerLink]="['/movies', movie.id]">
    <div>
        <img style="display: block; margin: 10px auto"
            [src]="'https://image.tmdb.org/t/p/w185'+movie.poster_path" alt="movie.title">
    </div>
    <div class="text-center">
        <span style="color:mediumturquoise">{{movie.title}}</span>
    </div>
    <div class="text-center">
        Rating: <span style="font-weight: 300; font-style: bold;">{{movie.vote_average}}</span>
    </div>
</div>