<div class="container fluid" style="margin-top: 50px;">
    <div>
        <button type="button" (click)='onBack()' class="btn btn-default btn-sm">
                <i class="fas fa-angle-left" style="font-size: 20px;"></i><span style="font-size: 20px; margin-left: 5px;">Back</span>
        </button>
    </div>
    <img [src]="'https://image.tmdb.org/t/p/w500'+movie.backdrop_path" alt="{{movie.title}}">
    <h2 style="padding: 5px;">{{movie.title}}</h2>
    <span style="font-weight: 500; margin-top: 15px;">Movie overview:</span>
    <br>
    <p>{{movie.overview}}</p>
</div>